[data-crunch-icon] {
  width: 161px;
  height: 40px;
  position: relative;
  top:20px;
  left: 70px;
  background-color: #182572;
}

[data-signin-btn] {
  background-color: #182572;
  border: 1px solid;
  color: #FFFFFF;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 14px;
  float: right;
  position: relative;
  top:20px;
  right: 70px;
}


[data-crunch-btn] {
  position: relative;
  border: 1px solid;
  color:#FFFFFF;
  padding: 12px 12px;
  cursor: pointer;
  border-radius: 14px;
  float: left;
}

[data-user-icon] {
  width: 15px;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
  font-size: 20px;
  color: #FFFFFF;
}

[data-hr-line] {
  position: absolute;
  background-color: #4C5AABCC;
  height: 0px;
  width: 1300px;
  left:70px;
  top: 60px;
}
/*
[data-middle-btn] {
  position: absolute;
  width: 259px;
  height: 49px;
  left: 591px;
  top: 615px;
  border-radius: 14px;
} */

[data-btn-text] {
  position: absolute;
  width: 211.62px;
  height: 23px;
  left: 615.22px;
  top: 628px;
  color: #03040E;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 23px;
  font-variant: small-caps;
}
